@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
}
.container .sideBar{
    width: 25%;
    border: 1px solid black;
    height: 100%;
}

.container .sideBar .link{
    padding: 8px 16px;
    color: #42526E;
    font-weight: bold;
}

.container .sideBar .active{
    color: #1890FF;
}

.container .rightContent{
    width: 80%;
    border: 1px solid black;
    overflow-y: auto;
    height: 100%;
}

.container .rightContent .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    color: #172B4D
}
